.column-container {
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 8px;
    width: 210px;

    display: flex;
    flex-direction: column;
}

.title {
    padding: 3px;
}

.task-list {
    padding: 8px;
    flex-grow: 1;
    min-height: 100px;
}
